.Footer {
  height: 7vh;
}
.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
@media (min-height:1000px )  {
  .Footer {
    height: 5vh;
  }
}
@media (max-height:1250px )  {
  .Footer {
    height: 3vh;
  }
}