.orderPage {
  /* height: 100vh; */
}

.order-item-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  border: 1px solid black;
}
/* GRID layout */
/* Item name + image */
.order-item-li-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  width: 16rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px black;
  color: white;
}
.order-item-container-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  grid-template-columns: 30% 30% 30%;
  border: 1px solid black;
  padding: 10px;
}
.order-item-info-image-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  width: 10%;
  height: 10%;
}
.order-item-info-grid {
  display: grid;
  justify-content: center;
  align-items: center;
}
.order-item-update-grid {
}

/* BLOCK layout  */
/* Item name + image */
.order-item-li-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  width: 16rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px black;
  color: white;
}
.order-item-container-block {
  display: block;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  align-items: center;
  border: 1px solid black;
}
.order-item-info-image-block {
  border-radius: 10%;
  width: 10%;
  height: 10%;
}
.order-item-info-block {
  display: grid;
  justify-content: center;
  align-items: center;
}
.order-item-update-block {
}

/* adjust for the extra white space around 1060px height */
/* maybe also adjust the list items to be a static height */
