/* GRID */
/* =============================================================== */
.menu-item-container-grid-light {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  border: 1px solid black;
  gap: 10px;
  padding: 20px;
}
.menu-item-container-grid-dark {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
  background-color: black;
  border: 1px solid white;
}
.menu-item-li-grid {
  border: 1px solid black;
}
.menu-item-element-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 20rem;
}
.menu-item-img-grid {
  display: none;
}
.menu-item-name-grid {
  display: flex;
  justify-content: center;
  color: white;
}
.menu-item-context-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.menu-item-description-grid {
  display: none;
}
/* BLOCK */
/*====================================*/
.menu-item-container-block-light {
  display: grid;
  background-color: white;
  border: 1px solid black;
  gap: 10px;
  padding: 20px;
}
.menu-item-container-block-dark {
  display: grid;
  gap: 10px;
  padding: 20px;
  background-color: black;
  border: 1px solid white;
}
.menu-item-li-block {
  border: 1px solid black;
}
.menu-item-element-block {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 20rem;
}
.menu-item-img-block {
  display: none;
}
.menu-item-name-block {
  display: flex;
  justify-content: center;
  color: white;
}
.menu-item-context-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.menu-item-description-block {
  display: flex;
  font-size: 1.2rem;
  padding: 20px;
  color: white;
}
