/* GRID */
/* =============================================================== */
.menu-item-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
  /* border: 1px solid rgb(149, 13, 13); */
  gap: 10px;
  padding: 20px;
}
.menu-item-li-grid {
  border: 1px solid black;
}
.menu-item-element-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  height: 20rem;
  /* width: 100%; */
}
.menu-item-img-grid {
  display: none;
}
.menu-item-name-grid {
  display: flex;
  justify-content: center;
  color: white;
}
.menu-item-context-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.menu-item-description-grid {
  display: none;
}
/* BLOCK */
/* =============================================================== */
.menu-item-container-block {
  display: grid;
  /* border: 1px solid black; */
  padding: 20px;
} 
.menu-item-block-block {
  /* border: 1px solid black; */
}
.menu-item-element-block {
  display: grid;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */ 
  width: 100%;
}
.menu-item-img-block {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 20%;
  height: 20%;
  object-fit: cover;
  border-radius: 25%;
}
.menu-item-name-block {
  display: flex;
  justify-content: center;
}
.menu-item-context-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.menu-item-description-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 10px;
}
