.navigation-container-light {
  display: grid;
  grid-template-columns: 50% 50%;
  color: black;
  border: solid 2px black;
}
.navigation-container-dark {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: solid 2px white;
  color: white;
}
.navigation-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navigation-list-image {
  height: 60%;
  width: 50%;
  padding: 15px;
}
.navigation-button {
  display: none;
}
.navigation-div-topLeft-light {
  display: grid;
  grid-template-columns: 40% 50%;
  background-color: white;
  color: black;
  border: solid 2px black;
}
.navigation-div-topLeft-dark {
  display: grid;
  grid-template-columns: 40% 50%;
  background-color: black;
  color: white;
  border: solid 2px black;
}
.navigation-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navigation-h1-light {
  display: grid;
  font-size: 1.8rem;
  color: black;
  font-weight: bold;
  padding: 15px;
}
.navigation-h1-dark {
  display: grid;
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  padding: 15px;
}

.navigation-div-topRight-light {
  display: grid;
  align-items: center;
  background-color: white;
  color: black;
  border: solid 2px black;
}
.navigation-div-topRight-dark {
  display: grid;
  align-items: center;
  background-color: black;
  color: white;
  border: solid 2px black;
}
.profileButton-ul-pageLinks {
  row-gap: 10px;
  height: 100%;
}
