.navigation-container {
  display: grid;
  grid-template-columns: 50% 50%;
  border: solid 2px black;
}
.navigation-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navigation-list-image {
  height: 60%;
  width: 50%;
  padding: 15px;
}
.navigation-button {
  display: none;
}
.navigation-div-topLeft {
  display: grid;
  grid-template-columns: 40% 50%;
  border: solid 2px black;
}
.navigation-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navigation-h1 {
  display: grid;
  font-size: 1.8rem;
  color: black;
  font-weight: bold;
  padding: 15px;
}
.navigation-div-topRight {
  display: grid;
  align-items: center;
  border: solid 2px black;
}
.profileButton-ul-pageLinks{
  row-gap: 10px;
  height: 100%;
}