/* border: 1px solid black; */
.rightMenu-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-item-container {
  display: grid;
  height: 25rem;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  column-gap: 10px;
}
.menu-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.menu-search-input {
  display: flex;
  width: 80%;
  height: 1.4rem;
  justify-content: center;
  align-items: center;
}
.menu-item-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2rem;
}
.menu-item-cluster {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.menu-item-button-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}
.menu-item-button-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}
.menu-item-button-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}
.menu-pag-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu-pag-button {
  display: flex;
  width: 5rem;
}
